/**
 * Basic typography style for text
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    word-wrap: break-word;
}

h1 {
    font-size: 4.0rem;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
}

.main-text {
    color: $white;
}